WcfSuma/WebApplication1/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SumaDeEnteros">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pNumero1" type="xs:int" />
        <xs:element minOccurs="0" name="pNumero2" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumaDeEnterosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumaDeEnterosResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>